
.typography-default-label-s {
    font-family: Roboto;
    font-size: 8px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-label-s-bold {
    font-family: Roboto;
    font-size: 8px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-label-m {
    font-family: Roboto;
    font-size: 11px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-label-m-bold {
    font-family: Roboto;
    font-size: 11px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-label-l {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 400;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-label-l-bold {
    font-family: Roboto;
    font-size: 12px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-body-s {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-body-s-link {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: underline;
}
.typography-default-body-s-bold {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-body-m {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-body-m-bold {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-heading-s {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-heading-s-bold {
    font-family: Roboto;
    font-size: 16px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-heading-m {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-heading-m-bold {
    font-family: Roboto;
    font-size: 18px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-heading-l {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 400;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-default-heading-l-bold {
    font-family: Roboto;
    font-size: 22px;
    font-weight: 700;
    line-height: 150%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-body-l {
    font-family: Paddy Mischief;
    font-size: 14px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-body-m {
    font-family: Paddy Mischief;
    font-size: 12px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-body-s {
    font-family: Paddy Mischief;
    font-size: 10px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-heading-l {
    font-family: Paddy Mischief;
    font-size: 22px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-heading-m {
    font-family: Paddy Mischief;
    font-size: 20px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-heading-s {
    font-family: Paddy Mischief;
    font-size: 16px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-display-xl {
    font-family: Paddy Mischief;
    font-size: 40px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-display-l {
    font-family: Paddy Mischief;
    font-size: 32px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-display-m {
    font-family: Paddy Mischief;
    font-size: 28px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}
.typography-brand-display-s {
    font-family: Paddy Mischief;
    font-size: 24px;
    font-weight: 700;
    line-height: 130%;
    letter-spacing: 0%;
    text-transform: none;
    text-decoration: none;
}

