
@mixin box-shadow-25 {
    box-shadow: 0px -4px 4px 0px #9394964d;
}
@mixin box-shadow-50 {
    box-shadow: 0px 0px 12px 0px #00000033;
}
@mixin box-shadow-100 {
    box-shadow: 0px 2px 8px 0px #00000029;
}
@mixin box-shadow-200 {
    box-shadow: 0px 0px 4px 0px #0000001a;
}
@mixin box-shadow-300 {
    box-shadow: 0px 0px 24px 0px #0000001a;
}
@mixin box-shadow-400 {
    box-shadow: inset 0px 0px 3px 1px #0000000d;
}
