:root {
  --background-default: #fff;
  --button-primary-default-background: #009745;
  --button-primary-default-text: #fff;
  --button-primary-hover-background: #008138;
  --button-primary-hover-text: #fff;
  --button-primary-active-background: #00672c;
  --button-primary-active-text: #fff;
  --bg-light: #fff;
  --bg-medium: #f7f7f7;
  --bg-subtle: #d9eae0;
  --bg-brand: #009745;
  --bg-medium-dark: #006858;
  --bg-dark: #005344;
  --bg-darker: #002721;
  --text-primary-dark: #474752;
  --text-primary-light: #fff;
  --text-secondary-dark: #6f6f71;
  --text-secondary-light: #f1f2f6;
  --text-tertiary-dark: #949597;
  --text-tertiary-light: #e8e9ed;
  --text-disable-default: #949597;
  --text-action-default: #009745;
  --text-action-hover: #008138;
  --text-action-active: #007331;
  --text-highlight-default: #005344;
  --icon-action: #009745;
  --icon-highlight: #005344;
  --icon-disable: #949597;
  --icon-on-dark: #fff;
  --border-light-default: #e8e9ed;
  --border-light-hover: #d9eae0;
  --border-light-active: #009745;
  --border-medium-default: #009745;
  --border-medium-hover: #008138;
  --border-medium-active: #007331;
  --border-dark-default: #6f6f71;
  --border-dark-active: #009745;
  --feedback-bg-success: #d9eae0;
  --feedback-bg-error: #fee4e1;
  --feedback-bg-warning: #ffe6cd;
  --feedback-bg-info: #e6eaf3;
  --feedback-icon-success: #009745;
  --feedback-icon-error: #b53333;
  --feedback-icon-warning: #f16e00;
  --feedback-icon-info: #004a86;
  --actions-cta-default-background-color: #009745;
  --actions-cta-default-text-color: #fff;
  --actions-cta-hover-background-color: #008138;
  --actions-cta-hover-text-color: #fff;
  --actions-cta-active-background-color: #00672c;
  --actions-cta-active-text-color: #fff;
  --colors-brand-color-secondary: #bbd;
  --colors-green-5: #d9eae0;
  --colors-green-10: #82d293;
  --colors-green-20: #47b968;
  --colors-green-30: #27aa56;
  --colors-green-40: #009745;
  --colors-green-50: #008138;
  --colors-green-60: #007331;
  --colors-green-70: #00672c;
  --colors-green-80: #015525;
  --colors-green-90: #132517;
  --colors-darkgreen-5: #e2ebea;
  --colors-darkgreen-10: #a5c8be;
  --colors-darkgreen-20: #7baea0;
  --colors-darkgreen-30: #65a091;
  --colors-darkgreen-40: #4a8f7e;
  --colors-darkgreen-50: #2b7c6b;
  --colors-darkgreen-60: #136f5e;
  --colors-darkgreen-70: #006858;
  --colors-darkgreen-80: #005344;
  --colors-darkgreen-90: #002721;
  --colors-info-5: #e6eaf3;
  --colors-info-10: #b5c1dd;
  --colors-info-20: #90a4cc;
  --colors-info-30: #7d95c3;
  --colors-info-40: #6583b7;
  --colors-info-50: #4970a9;
  --colors-info-60: #3664a0;
  --colors-info-70: #245a97;
  --colors-info-80: #004a86;
  --colors-info-90: #012242;
  --colors-warning-5: #ffe6cd;
  --colors-warning-10: #ffb067;
  --colors-warning-20: #ff8016;
  --colors-warning-30: #f16e00;
  --colors-warning-40: #d75f00;
  --colors-warning-50: #b85000;
  --colors-warning-60: #a54700;
  --colors-warning-70: #944000;
  --colors-warning-80: #793501;
  --colors-warning-90: #351b05;
  --colors-error-5: #fee4e1;
  --colors-error-10: #f7afa6;
  --colors-error-20: #eb887e;
  --colors-error-30: #e3746b;
  --colors-error-40: #d65c54;
  --colors-error-50: #c4423f;
  --colors-error-60: #b53333;
  --colors-error-70: #a62a2c;
  --colors-error-80: #8c1f22;
  --colors-error-90: #3f1311;
  --colors-pink-5: #ffe3ec;
  --colors-pink-10: #ffa7c7;
  --colors-pink-20: #ff76a5;
  --colors-pink-30: #f66092;
  --colors-pink-40: #dc5080;
  --colors-pink-50: #bd436d;
  --colors-pink-60: #a83c61;
  --colors-pink-70: #983657;
  --colors-pink-80: #7b2e47;
  --colors-pink-90: #351921;
  --colors-yellow-5: #fffef6;
  --colors-yellow-10: #fdf399;
  --colors-yellow-20: #fff74a;
  --colors-yellow-30: #ffeb1f;
  --colors-yellow-40: #fce300;
  --colors-yellow-50: #e9d300;
  --colors-yellow-60: #e1cb00;
  --colors-yellow-70: #a79600;
  --colors-yellow-80: #7d7000;
  --colors-yellow-90: #50470c;
  --colors-sunflower-5: #fffefb;
  --colors-sunflower-10: #fff8e6;
  --colors-sunflower-20: #fff2c7;
  --colors-sunflower-30: #ffe9a0;
  --colors-sunflower-40: #ffdc70;
  --colors-sunflower-50: #ffcb3c;
  --colors-sunflower-60: #ffbf20;
  --colors-sunflower-70: #c48a00;
  --colors-sunflower-80: #936700;
  --colors-sunflower-90: #5e4209;
  --colors-neutrals-5: #fff;
  --colors-neutrals-10: #f7f7f7;
  --colors-neutrals-20: #f1f2f6;
  --colors-neutrals-30: #e8e9ed;
  --colors-neutrals-40: #dddee2;
  --colors-neutrals-50: #d1d2d5;
  --colors-neutrals-60: #c8c9cc;
  --colors-neutrals-70: #949597;
  --colors-neutrals-80: #6f6f71;
  --colors-neutrals-90: #474752;
  --colors-gradients-1: linear-gradient(180deg, #009745 0%, #008138 100%);
  --colors-gradients-2: linear-gradient(0deg, #009745 0%, #27aa56 100%);
  --colors-gradients-3: linear-gradient(-48deg, #1c5c30 0%, #199649 100%);
  --colors-gradients-4: linear-gradient(87deg, #199649 0%, #008138 100%);
  --colors-gradients-5: linear-gradient(-84deg, #1d7139 0%, #008138 100%);
}
